
$bodybg : #000;
$white : #fff;
$textGray :  rgb(128, 128, 128);
$textHover : rgb(191, 191, 191);
$btnbgHoverGray : #c6d2d4;
$darkGray : rgba(23, 23, 23, 1);
$darktext: #636363;
$yellow: #E6EF07;
$black: #000;
$BGtrns: rgba(0, 0, 0, .5);








